/* line 1, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 4, ../sass/style.scss */
#log {
  outline: 1px solid grey;
}

/* line 8, ../sass/style.scss */
div.loading {
  background-image: url("../img/ajax-loader.gif");
  background-repeat: no-repeat;
  position: fixed;
  top: 50px;
  width: 48px;
  height: 48px;
  left: 50%;
  margin-left: -50px;
  display: none;
}

/* line 19, ../sass/style.scss */
#log {
  padding: 10px;
  height: 100%;
}
